.InfoBox {
    /* text-align: center; */
    display: flex;
    justify-content: center;
    margin-top:30px ;
    /* align-items: center; */
}
.cardContainer { 
    display : flex;
    justify-content: center;
    /* align-items: center; */
}

